MainIcon	ICON "Resource\Main.ico"

Background	BITMAP "Resource\Background.bmp"
// BtnNext
Btn10		BITMAP "Resource\Arrow Right.bmp"
Btn10_Over	BITMAP "Resource\Arrow Right Over.bmp"
Btn10_Press	BITMAP "Resource\Arrow Right Down.bmp"
// BtnPrev
Btn11		BITMAP "Resource\Arrow Left.bmp"
Btn11_Over	BITMAP "Resource\Arrow Left Over.bmp"
Btn11_Press	BITMAP "Resource\Arrow Left Down.bmp"
// Display
Btn12		BITMAP "Resource\Display.bmp"
// Effects
DisEffect	BITMAP "Resource\DisEffect.bmp"

Popup MENU
LANGUAGE LANG_PORTUGUESE, 0x01
BEGIN
  POPUP "Tray" BEGIN
    MENUITEM "Desktops v1.00", 90, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Aplicar Skin...",110
    MENUITEM SEPARATOR
    MENUITEM "&Mostrar", 50
    MENUITEM "&Fechar", 100
  END
END

DlgDesk DIALOGEX 0,0,261,20
STYLE DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Adicionar Papel de Parede"
LANGUAGE LANG_PORTUGUESE, 0x1
FONT 8, "MS Sans Serif"
BEGIN
  CONTROL "",113,"EDIT",ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP,4,4,200,13,0x00000200
  CONTROL "&Add",112,"BUTTON",BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE,208,4,50,13
END

DlgSkin DIALOGEX 6,6,178,110
STYLE DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Aplicar Skin"
LANGUAGE LANG_PORTUGUESE, 0x1
FONT 8, "MS Sans Serif"
BEGIN
  CONTROL "Skins:",1000,"STATIC",SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE,6,7,82,9
  CONTROL "",1001,"LISTBOX",LBS_NOTIFY | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL,6,16,82,91,0x00000200
  CONTROL "",1002,STATIC,SS_BITMAP | WS_CHILD | WS_VISIBLE,94,7,79,84 
  CONTROL "&Aplicar",1003,BUTTON,BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,93,92,80,15
END